.backrnd{
    background-color: #333;
}
.nav-menu {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .nav-menu a:hover {
    background-color: #333;
    color: #fff;
  }

#navebar{
  background-color: black;
  height: 100px;
  width: 100%;
display: flex;
flex-direction: row;

}
body{
  margin: 0;
  padding: 0;
}
#navetools{
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: #f2f2f2;
}
.navitem{
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 85px ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "lato";
  font-size: smaller;
}

.navitem:hover{
  color: orange;
  background-color: #3d3f40;
  
}

  